body {
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;
  text-align: center;
}

.block {
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: #3a78a1;
}

.block-relative {
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: #3a78a1;
}

.block-shadow {
  background-color: #cccccc;
}

* {
    position: center;
    padding: 10px 20px 10px;
    border-radius: 4px;
}

::before {
    position: absolute;
    top: 3px;
    left: 5px;
    font-weight: 700;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: .04em;
}