<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <!-- Учитывает плотность пикселей на экране-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar "></div>

<main class="container-fluid d-flex flex-row bd-highlight mb-3">
    <!-- Filter and AddProfile-->
    <section class="p-2 flex-fill bd-highlight">
    <div th:replace="fragments/filterAndSave :: section_1"></div>
    </section>
    <!-- Table -->
    <section class="p-2 flex-fill bd-highlight">
        <h3>Table address</h3>

        <table id="table" class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Department</th>
                <th scope="col">Office</th>
                <th scope="col">Company</th>
            </tr>
            </thead>
            <tr onclick="onclickRowTable()" id="thread-1" th:each="profile: ${profiles}">
                <td style="display:none;" th:text="${profile.id}"></td>
                <td th:text="${profile.name}"></td>
                <td th:text="${profile.position}"></td>
                <td th:text="${profile.department.name}"></td>
                <td th:text="${profile.department.office.name}"></td>
                <td th:text="${profile.department.office.company.name}"></td>
            </tr>
            <tbody>
            </tbody>
        </table>
    </section>
    <!-- Profile-->
    <section class="p-2 flex-fill bd-highlight">
        <h3>Profile</h3>


        <ul class="list-group" >
            <li class="list-group-item" > Name:
                <input class="form-control"  readonly="" id="name" /></li>
            <li class="list-group-item">Position:
                <input class="form-control" readonly="" type="text" id="position"/></li>
            <li class="list-group-item">Phone:
                <input class="form-control" readonly="" type="text" id="phone"/></li>
            <li class="list-group-item">Mail:
                <input class="form-control" readonly="" type="text" id="mail"/></li>
            <li class="list-group-item">Department:
                <input class="form-control" readonly="" type="text" id="department"/></li>
            <li class="list-group-item">Office:
                <input class="form-control" readonly="" type="text"  id="office"/></li>
            <li class="list-group-item">Company:
                <input class="form-control" readonly="" type="text"  id="company"/></li>
        </ul>

    </section>
</main>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<!-- Скрипт таблицы -->
<script src="../static/js/table_sr.js" th:src="@{/js/table_sr.js}"></script>

</body>
</html>